.drum-pad {
    background-color: var(--accent-color);
    border-radius: 1rem;
    color: var(--text-color);
    font-size: 2em;
    font-weight: 800;
    padding: 1em;
    text-transform: uppercase;
}