:root{
  --accent-color: teal;
  --display-color: gray;
  --text-color: white;
}

body {
  background-color: var(--accent-color);
  color: var(--text-color);
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
