.display {
    background-color: #69995D;
    color: #F8E9E9;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: monospace;
    height: 2em;
    text-align: end;
    width: 100%;
}